* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

/* General adjustments */

h2 {
    font-family: 'unbounded', sans-serif;
    color: black;
    font-family: 'unbounded', sans-serif;
    font-size: clamp(20px, 3vw, 60px);
}

.hidden {
    display: none;
}

.mood-container{
    position:relative;
}

.face {
    position: relative; 
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    bottom: -10%;
    max-height: 60%;
  }

#mood-biter .face {
    position: relative; 
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    bottom: -10%;
    max-height: 60%;
}

.face img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.greenbackground{
    width:100%;
    position:absolute;
    top:40px;
 }

 .greenbackground_big {
    display: none;
}

.greenbackground {
    display: block;
}

.logo{
    position: relative;
    left: -20px;
    top: 10px;
} 

.mood-article{
    position:relative;
    width:100%;
    height:100vh;
}

#mood-silly .button-container-leave .button-imdone {
    color: #9CCDD1;
    background-color: #E32129;
    border: 4px solid #E32129;
}

#mood-silly .button-container-leave .button-imdone:hover { 
    background-color: #9CCDD1; 
    color: #E32129; }

#mood-silly .button-container-leave .button-changemood {
    color: #9CCDD1;
    background-color: #E32129;
    border: 4px solid #E32129;
}

#mood-silly .button-container-leave .button-changemood:hover { 
    background-color: #9CCDD1; 
    color: #E32129; }

#mood-positive .button-container-leave .button-imdone {
color: #00492E;
background-color: #FBBA18;
border: 4px solid #FBBA18;
}

#mood-positive .button-container-leave .button-imdone:hover { 
    background-color: #00492E; 
    color: #FBBA18; }

#mood-positive .button-container-leave .button-changemood {
    color: #00492E;
    background-color: #FBBA18;
    border: 4px solid #FBBA18;
    }

#mood-positive .button-container-leave .button-changemood:hover { 
    background-color: #00492E; 
    color: #FBBA18; }

.button-container-leave{
    display: flex;
    justify-content: center;
    gap: 15px;        
    margin-top: 40px; 
}

.button-container-leave .button-imdone {
    font-size: 15px;
    font-family: 'unbounded', sans-serif;
    color: #E14D27;
    background-color: #B2D9BA;
    width: 150px;
    padding:10px;
    border:4px solid #B2D9BA;
    border-radius: 10px;
}

#mood-brainrot .button-container-leave .button-imdone:hover { 
    background-color: #E14D27; color: #B2D9BA; }

#mood-brainrot .button-container-leave .button-changemood:hover { 
    background-color: #E14D27; color: #B2D9BA; }

.button-container-leave .button-changemood{
    font-size: 15px;
    font-family: 'unbounded', sans-serif;
    color: #E14D27;
    background-color: #B2D9BA;
    width: 150px;
    padding:10px;
    border:4px solid #B2D9BA;
    border-radius: 10px;
}

/* Starter page mood question */

#mood-question {
    background-color:#E4B3B6;     
    overflow: hidden;         
    height: 100vh;           
}

.mood-question-text{ 
    color: #204482;
    font-size: 40px;
    font-family: 'unbounded', sans-serif;
    text-align:center;
    margin-top: 40px;
}

.button-container-mood {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 30px;
}

.button-mood-question{
    font-size: 22px;
    font-family: 'unbounded', sans-serif;
    color: #E4B3B6;
    background-color:#204482;
    width: 150px;
    padding:10px;
    border:4px solid #204482;
    border-radius: 10px;
}

.button-mood-question:hover {
    background-color: #E4B3B6;
    color:#204482;
}

.next-button-container {
    display: flex;
    justify-content: center;  
}

#next-mood-question{
    width: 130px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #204482;  
    background-color: transparent;
}

img.button-icon {
    width:40px;
    height:40px;
}

/* Page What mood would you like to bite into? */

#mood-biter {
    background-color:#204482;
    height: 100vh;
    overflow:hidden;
 }

.mood-biter-text {
    color: #E4B3B6;
    font-family: 'unbounded', sans-serif;
    font-size: 40px;
    text-align:center;
    margin-top: 40px;
}

.button-container-mood_choice {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.button-container-mood_choice:last-of-type {
    justify-content: center;
}

.button-mood-biter {
    font-size: 22px;
    font-family: 'unbounded', sans-serif;
    color: #204482;
    background-color:#E4B3B6; 
    width: 150px;
    padding:10px;
    box-sizing: border-box;
    border:4px solid #E4B3B6;
    border-radius: 10px;
}

.button-mood-biter:hover {
    background-color: #204482;
    color:#E4B3B6; 
}

/* Silly Page */

#mood-silly{
    background-color:#9CCDD1;
    height: 100vh;
    overflow:hidden;
}

.mood-silly-content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    width: 80%;
}

.mood-silly-text-container{
    background: white;
    padding: 10% 5%;
    border-radius: 10px;
    text-align: center;
}

#mood-silly-button {
    width: 130px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #9CCDD1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Brainrot Page */

#mood-brainrot{
    background-color:#E14D27;
    height: 100vh;
    overflow:hidden;
}

.mood-brainrot-content{
   position:absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   display:flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   padding: 0 20px;
   width:80%;
}

.mood-brainrot-text-container{
    background: white;
    padding: 10% 5%;
    border-radius: 10px;
    text-align: center;
}

.mood-brainrot-text{ 
    font-size: clamp(15px, 3vw, 60px);
}

#mood-brainrot-button {
    width: 130px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #E14D27;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#im-stupid{
    font-size: 18px;
    font-family: 'unbounded', sans-serif;
    color: #E32129;
    background-color:#9CCDD1;
    width: 150px;
    padding:5px;
    border:4px solid #9CCDD1;
    border-radius: 10px;
}

/* Positive Page */

#mood-positive {
    background-color: #00492E;
    height: 100vh;
    overflow:hidden;
}

.mood-positive-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    width: 80%;
}

.mood-positive-text-container {
    background: white;
    padding: 10% 5%;
    border-radius: 10px;
    text-align: center;
}

#mood-positive-button {
    width: 130px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #00492E;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Finisher Page */

#mood-finish{
    background-color: #204482;
    height: 100vh;
    overflow: hidden;
}

.button-container-mood-finish{
    justify-content: center;
    text-align:center;
    gap: 15px;
    margin: 15px;
}

.button-mood-finish{
    font-size: 22px;
    font-family: 'unbounded', sans-serif;
    color: #204482;
    background-color:#E4B3B6; 
    width: 300px;
    padding:10px;
    border:4px solid #E4B3B6;
    border-radius: 10px;
}

.button-mood-finish:hover { 
    background-color: #204482; 
    color: #E4B3B6; }

/* Page feel worse */

#mood-failed{
    background-color:#204482;
    height: 100vh;
    overflow: hidden;        
}

.button-mood-failed{
    font-size: 22px;
    font-family: 'unbounded', sans-serif;
    color: #204482;
    background-color:#E4B3B6; 
    width: 300px;
    padding:10px;
    border:4px solid #E4B3B6;
    border-radius: 10px;
}

.button-mood-failed:hover { 
    background-color: #204482; 
    color: #E4B3B6; }


/* Feel better Page */

#mood-done{
    background-color:#204482;
    height: 100vh;
    overflow: hidden;
}

.mood-done-text{
    color: #E4B3B6;
    font-size: 40px;
    font-family: 'unbounded', sans-serif;
    justify-content: center;
    text-align:center;
    margin-top: 150px;
}

/* Responsive */
/* Blue Face */

@media (min-width: 990px) {
    .face {
        bottom: 0%;
        max-height: 75%;
    }
}

@media (min-width: 1100px) {
    .face {
        bottom: -10%;
        max-height: 75%;
    }
}

/* Pink Face */

@media (min-width: 990px) {
    #mood-biter .face {
        bottom: 0%;
        max-height: 75%;
    }
}

@media (min-width: 1100px) {
    #mood-biter .face {
        bottom: -10%;
        max-height: 75%;
    }
}

/* Starter page mood question */

@media only screen and (min-width: 1000px) {
.button-container-mood{
    display: flex;
    justify-content: center;
    gap: 15px;        
    margin: 30px; 
}

.button-mood-question {
    font-size: 30px;
    width: 250px;
    padding: 12px;
    border: 8px solid #204482;
    border-radius: 20px;
}

.mood-question-text {
    font-size: 60px;
    font-family: 'unbounded', sans-serif;
    margin-top: 40px;
}

/* Page What mood would you like to bite into? */

.mood-biter-text {
    font-family: 'unbounded', sans-serif;
    font-size: 60px;
    margin-top: 40px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 16px;
  }

  .button-mood-biter {
  font-size: 30px;
  width: 250px;
  padding: 12px;
  border: 8px solid #E4B3B6;
  border-radius: 20px;
}

/* Diffrent Mood-Pages */

.button-container-leave .button-imdone{
    font-size: 20px;
    width: 200px;
  padding: 12px;
  border-radius: 20px;
}

.button-container-leave {
    gap: 40px;
}

.button-container-leave .button-changemood{
    font-size: 20px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
}

#im-stupid {
    font-size: 30px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    text-align: center;
}

.mood-brainrot-text {
    font-size: clamp(15px, 3vw, 60px);
}

    .greenbackground {
        display: none;
    }

    .greenbackground_big {
    display: block; /* Sichtbar machen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    top: 38%;
    }

    .mood-silly-text-container{
        padding: 3% 3%;
        border-radius: 10px;
    }

    h2 {
        font-size: 30px;
    }
   
    .mood-positive-text-container {
    padding: 3% 3%;
    border-radius: 10px;
}

.mood-positive-content {
    width: 40%;
}

.mood-silly-content{
    width: 50%;
}

.mood-brainrot-content {
    width: 50%;
}

/* Page How do you feel now? */ 

.button-mood-finish {
font-size: 30px;
width: 400px;
padding: 12px;
border: 8px solid #E4B3B6;
border-radius: 20px;
}

.mood-done-text {
font-size: 60px;
}

h2.mood-brainrot-text {
    font-size: 30px;
}

.mood-brainrot-text-container {
padding: 3% 3%;
border-radius: 10px;
}

.button-mood-failed {
    font-size: 30px;
    width: 250px;
    padding: 12px;
    border: 8px solid #E4B3B6;
    border-radius: 20px
}


}


@media only screen and (min-width: 1300px) {
    .greenbackground_big {
        width: 70%;
        }

    }





   

