* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mood-question {
   background-color:#E4B3B6;
   height: 100vh;
   width: 100%;
}

.mood-question-text{ 
    color: #204482;
    font-family: 'unbounded', sans-serif;
}

.hidden, 
.hidden1 {
    display: none;
}

#mood-biter {
    background-color:#204482;
    height: 100vh;
    width: 100%;
 }

.mood-biter-text{ 
    color: #E4B3B6;
    font-family: 'unbounded', sans-serif;
}

#mood-brainrot{
    background-color:#E14D27;
    height: 100vh;
    width: 100%;
}

.mood-brainrot-article{
    background-color: white;
}

.mood-brainrot-text{ 
    color: black;
    font-family: 'unbounded', sans-serif;
}